body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right bottom, #074667, #23587e, #396a95, #4f7cad, #668fc6, #689fd7, #69afe8, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  height: 100%;
}
